<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Formula1</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/drivers" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="true"></span> Drivers
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/races">
                <span class="oi oi-map" aria-hidden="true"></span> Races
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/races/results">
                <span class="oi oi-list" aria-hidden="true"></span> Race results
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/championships">
                <span class="oi oi-badge" aria-hidden="true"></span> Championships
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
